.grid_item{
    display: flex;
    justify-content: center;
    margin-bottom: 3% !important;

}

.grid_container{

    display: flex !important;
    flex-direction: column !important;
    margin: 2% auto !important;
}

.typ {
    margin: 0px !important;
}

.post_detail_grid {
    margin-top: 5%;
    margin-left: 10%;
}



